body {

    background-color: rgb(71, 71, 71);

}

header,footer {

    height: 80px;
    border-bottom: rgb(110, 1, 1) 2px groove;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    padding: 0 1.5%;
    margin: 0;

}

.border-top {

    border-bottom: none;
    border-top: rgb(110, 1, 1) 10px groove;

}


h1 {

    border-left: rgb(153, 125, 46) 2px solid;
    box-shadow: -2px 0 rgb(110, 1, 1);
    color: rgb(233, 231, 231);
    font-size: 200%;
    height: 40px;
    width: 245px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;

}

nav {

    width: 265px;
    float: right;

}

nav li {

    border-right: rgb(110, 1, 1) 2px solid;
    height: 25px;
    display: flex;
    align-items: center;

}

nav a {

    color: rgb(233, 231, 231);;

}

nav a:hover {

    color: rgb(201, 170, 87);

}

.no-border {

    border: none !important;

}

.no-right-padding {

    padding-right: 0;

}

.no-left-padding {

    padding-left: 0;

}

.no-padding {

    padding: 0;

}

.content-row {

    width: 600px;
    margin: 0 15px;

}

.content-container {

    background-color: rgb(34, 34, 34);
    border: rgb(110, 1, 1) 2px ridge;
    margin: 30px 0 60px 1.5%;
    width: 600px;

}

h2 {

    color: rgb(233, 231, 231);
    margin: 25px 30px 25px 30px;
    padding-bottom: 25px;
    border-bottom: rgb(194, 159, 63) 2px groove;

}

.about-p1 {

    margin: 0 15px;

}

.about-p2 {

    margin: 20px 15px 30px 15px;

}

.profile-pic {

    float: left;
    width: 205px;
    margin-right: 22px;
    margin-top: 8px;

}

p {

    color: rgb(233, 231, 231);
    margin-bottom: 0;
    line-height: 1.8;

}

.no-wrap {

    display: flex;
    flex-wrap: nowrap;

}

.portfolio-row {

    padding: 0 30px;

}

.col-md-6 img {

    width: 250px;
    margin-bottom: 35px;

}

.center {

    display: flex;
    justify-content: center;

}

.margin-top {

    margin-top: 10px;

}

.text-box {

    background-color: rgb(51, 0, 0);
    width: 250px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 125px;

}

.text {

    color: rgb(233, 231, 231);
    margin: 5px;
    font-size: 135%;

}

form {

    color: rgb(233, 231, 231);
    margin: 0 15px 20px 15px;

}

.form-control {

    border-radius: 0;
    border: none;
    background-color: rgb(53, 53, 53);

}

button {

    border: none;
    background-color: rgb(90, 0, 0);
    color: rgb(233, 231, 231);
    width: 100px;
    height: 40px;
    margin-top: 10px;

}