html, body {

    background-color: rgb(71, 71, 71);
    height: 100%;

}

/* Webpage container styling */

.page-container {

    position: relative;
    min-height: 100%;
    width: 100%;
    
}

header,footer {

    height: 80px;
    border-bottom: rgb(110, 1, 1) 2px groove;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    padding: 0 1.5%;
    margin: 0;

}

header {

    margin-bottom: 30px;

}


footer {

    display: flex;
    justify-content: center;
    border-bottom: none;
    border-top: rgb(110, 1, 1) 2px groove;
    position: absolute;
    bottom: 0;
    width: 100%;

}

/* Website title styling */

h1 {

    border-left: rgb(153, 125, 46) 2px solid;
    box-shadow: -2px 0 rgb(110, 1, 1);
    color: rgb(233, 231, 231);
    font-size: 200%;
    height: 40px;
    width: 235px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;

}

/* Whole navigation bar styling */

nav {

    width: 265px;
    float: right;

}

/* Nav bar options styling */

nav li {

    border-right: rgb(110, 1, 1) 2px solid;
    height: 25px;
    display: flex;
    align-items: center;

}

/* Nav bar link text color */

nav a {

    color: rgb(233, 231, 231);

}

/* Nav bar link text color when hovering */

nav a:hover {

    color: rgb(201, 170, 87);

}

/* Dropdown container styling */

.dropleft {

    display: none;
    float: right;
    width: 40px;

}

/* Dropdown image (within button) styling */

.dropdown-img {

    border: rgb(175, 139, 40) 1px solid;
    background-color: rgb(71, 71, 71);
    width: 100%;
    border-radius: 10%;

}

/* Dropdown button styling */

.btn {

    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

}

/* Dropdown button styling while hovering */

.btn:hover {

    transform:scale(1.1);

}

/* Dropdown button styling while holding down click */

.btn:focus {

    outline: none;
    box-shadow: none;

}

/* Dropdown menu styling */

.dropdown-menu {

    background-color: rgb(71, 71, 71, 0.9);
    min-width: 9rem;
    font-size: 1.5rem;

}

/* Dropdown menu link styling */

.dropdown-menu a {

    color: rgb(233, 231, 231);

}

/* Dropdown menu link styling while hovering */

.dropdown-menu a:hover {

    background-color: rgba(56, 56, 56, 0.9);
    color: rgb(201, 170, 87);

}

/* Removes line on right of contact option of nav bar */

.no-border {

    border: none !important;

}

/* Removes right padding of contact option of nav bar */

.no-right-padding {

    padding-right: 0;

}

/* Adds padding at bottom of main content container to accomodate footer */

main {

    padding-bottom: 80px;
    display: block;

}

aside {

    display: flex;
    float: right;
    max-width: 350px;
    margin-right: 1.5%;
    min-height: 200px;
    
}

aside a {

    color: rgb(233, 231, 231);

}

/* Nav bar link text color when hovering */

aside a:hover {

    color: rgb(201, 170, 87);
    text-decoration: none;

}

#about-container {

    float: left;

}

#contact-container {

    float: left;

}

#links-container {

    padding: 0 15px 30px 15px;

}

/* About Me, Portfolio, and Contact form container styling */

.content-container {

    background-color: rgb(34, 34, 34);
    border: rgb(110, 1, 1) 2px ridge;
    margin-bottom: 30px;
    margin-left: 1.5%;
    width: 600px;

}

.title-row {

    margin: 0;

}

/* About Me, Portfolio, and Contact form title styling */

h2 {

    color: rgb(233, 231, 231);
    margin: 25px 15px;
    padding-bottom: 25px;
    border-bottom: rgb(194, 159, 63) 2px groove;

}

/* About Me first paragraph and profile pic container styling */

.about-p1 {

    margin: 0 15px;

}

/* About Me second paragraph and container styling */

.about-p2 {

    margin: 20px 15px 50px 15px;

}

/* About me profil pic styling */

.profile-pic {

    float: left;
    width: 205px;
    margin-right: 22px;
    margin-top: 8px;

}

p, li {

    color: rgb(233, 231, 231);
    margin-bottom: 0;
    line-height: 1.8;

}

/* Prevents nav from wrapping underneath site title */

.no-wrap {

    display: flex;
    flex-wrap: nowrap;

}

/* Styling for portfolio row container */

.portfolio-row {

    padding: 0 30px;
    flex-wrap: nowrap;

}

.portfolio-row img {

    border: rgb(51, 0, 0) 3px ridge;

}

/* Portfolio image styling */

.col-md-6 img {

    width: 100%;

}

/* Portfolio image container styling */

.port-img-col {

    padding: 0;
    margin: 0 15px 35px 15px;
    width: 100%;
    max-width: 253px;
    color: rgb(233, 231, 231);

}

.port-img-col a {

    color: rgb(233, 231, 231);

}

.port-img-col a:hover {

    color: rgb(194, 159, 63);
    text-decoration: none;

}

#repo-title {

    border-bottom: rgb(194, 159, 63) 2px groove;
    padding-bottom: 10px;

}

.repo-links {

    padding-left: 10px;

}

/* Adds margin to top of first portfolio image row */

.margin-top {

    margin-top: 10px;

}

/* Poftolio image text box styling */

.text-box {

    background-color: rgb(51, 0, 0);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 8px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    border-left: rgb(51, 0, 0) 3px ridge;
    border-right: rgb(51, 0, 0) 3px ridge;

}

/* Poftolio image text styling */

.text {

    color: rgb(233, 231, 231);
    font-size: 135%;
    display: flex;
    align-self: center;

}

/* Contact form row container styling */

.content-row {

    width: 100%;
    margin: 0 15px;

}

/* Contact form styling */

form {

    color: rgb(233, 231, 231);
    margin-bottom: 20px;

}

/* Contact form input styling */

.form-control {

    border-radius: 0;
    border: none;
    background-color: rgb(53, 53, 53);

}

/* Contact form input styling when typing */

.form-control:valid {

    background-color: rgb(53, 53, 53);
    color: rgb(233, 231, 231);
    box-shadow: 0 0 2px 2px black;

}

/* Contact form input styling when focused */

.form-control:focus {

    background-color: rgb(53, 53, 53);
    color: rgb(233, 231, 231);
    box-shadow: 0 0 2px 2px black;

}

/* Contact form submit button styling */

button {

    border: none;
    background-color: rgb(90, 0, 0);
    color: rgb(233, 231, 231);
    width: 100px;
    height: 40px;
    margin-top: 10px;

}

/* Contact form submit button styling when focused*/

button:focus {

    outline: none;
    box-shadow: 0 0 3px 1px rgb(233, 231, 231);

}

@media screen and (max-width: 1040px) {

    aside {

        max-width: 100%;
        float: left;

    }

    .title-row {

        width: 100%;

    }

}

/* Page responsiveness at 768px */

@media screen and (max-width: 768px) {

    /* About Me, Portfolio, Contact container styling at 768px */

    .content-container {

        width: 97%;

    }

    /* Portfolio image container styling at 768px */

    .port-img-col {

        max-width: 45.5%;

    }

    /* Portfolio image text box styling at 768px */

    .text-box {

        height: 25%;

    }

    /* Portfolio image text styling at 768px */

    .text {

        font-size: 150%;

    }

}

/* Page responsiveness at 640px */

@media screen and (max-width: 640px) {

    /* Dropdown button displays at 640px */
    
    .dropleft {

        display: block;
    
    }

    /* Nav options hide at 640px */

    nav {

        display: none;

    }

    /* About Me, Portfolio, Contact container styling at 640px */

    .content-container {

        width: 97%;

    }

    /* About Me profile pic styling at 640px */

    .profile-pic {

        width: 100%;
        margin-bottom: 30px;

    }

    /* Portfolio row container styling at 640px */

    .portfolio-row {

        flex-wrap: wrap;

    }

    /* Portfolio image container styling at 640px */

    .port-img-col {

        max-width: 97%;

    }

    /* Portfolio image text box styling at 640px */

    .text-box {

        height: 25%;

    }

    /* Portfolio image text styling at 640px */

    .text {

        font-size: 250%;

    }

}

/* Page responsiveness at 576px */

@media screen and (max-width: 576px) {

    /* Body styling at 576px */
    
    body {

        background-color: rgb(34, 34, 34);

    }

    header {

        margin-bottom: 0;

    }

    /* Dropdown button displays at 576px */
    
    .dropleft {

        display: block;
    
    }

    /* Nav options hide at 576px */

    nav {

        display: none;

    }

    /* About Me, Portfolio, Contact container styling at 576px */

    .content-container {

        width: 100vw;
        margin-left: -15px;
        margin-bottom: 0;
        position: relative;
        border: none;

    }

    /* About Me, Portfolio, Contact title containers styling at 576px */

    .title-row {

        margin: 0;

    }

    /* About Me, Portfolio, Contact titles styling at 576px */

    h2 {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* About Me first paragraph and profile pic container styling at 576px */

    .about-p1 {

        margin-right: 0;
        margin-left: 0;
        padding-right: 5px;
        padding-left: 5px;

    }

    /* About Me second paragraph container styling at 576px */

    .about-p2 {

        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 35px;

    }

    /* Contact form row container styling at 576px */

    .content-row {

        margin: 0;

    }

    /* Contact form styling at 576px */

    form {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* About Me profile pic styling at 576px */

    .profile-pic {

        width: 100%;
        margin-bottom: 30px;

    }

    /* Portfolio row container styling at 576px */

    .portfolio-row {

        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px 0 0 0;

    }

    /* Portfolio image container styling at 576px */

    .port-img-col {

        max-width: 97%;

    }

    /* Portfolio image text box styling at 576px */

    .text-box {

        height: 25%;

    }

    /* Portfolio image text styling at 576px */

    .text {

        font-size: 225%;

    }

    aside {

        width: 100%;
        max-width: none;

    }

    #links-container {

        padding-left: 20px;
        padding-bottom: 50px;
    
    }

}

/* Page responsiveness at 425px */

@media screen and (max-width: 425px) {

    /* Body styling at 425px */
    
    body {

        background-color: rgb(34, 34, 34);

    }

    /* Dropdown button displays at 425px */
    
    .dropleft {

        display: block;
    
    }

    /* Nav options hide at 425px */

    nav {

        display: none;

    }

    /* About Me, Portfolio, Contact container styling at 425px */

    .content-container {

        width: 100vw;
        margin: 0 0 0 -15px;
        position: relative;
        border: none;

    }

    /* About Me, Portfolio, Contact title containers styling at 425px */

    .title-row {

        margin: 0;

    }

    /* About Me, Portfolio, Contact titles styling at 425px */

    h2 {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* Contact form row container styling at 425px */

    .content-row {

        margin: 0;

    }

    /* Contact form styling at 425px */

    form {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* About Me profile pic styling at 425px */

    .profile-pic {

        width: 100%;
        margin-bottom: 30px;

    }

    /* Portfolio row container styling at 425px */

    .portfolio-row {

        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px 0 0 0;

    }

    /* Portfolio image container styling at 425px */

    .port-img-col {

        max-width: 97%;

    }

    /* Portfolio image text box styling at 425px */

    .text-box {

        height: 25%;

    }

    /* Portfolio image text styling at 425px */

    .text {

        font-size: 175%;

    }

}

/* Page responsiveness at 375px */

@media screen and (max-width: 375px) {

    /* Body styling at 375pxpx */
    
    body {

        background-color: rgb(34, 34, 34);

    }

    /* Dropdown button displays at 375px */
    
    .dropleft {

        display: block;
    
    }

    /* Nav options hide at 375px */

    nav {

        display: none;

    }

    /* About Me, Portfolio, Contact container styling at 375px */

    .content-container {

        width: 100vw;
        margin: 0 0 0 -15px;
        position: relative;
        border: none;

    }

    /* About Me, Portfolio, Contact title containers styling at 375px */

    .title-row {

        margin: 0;

    }

    /* About Me, Portfolio, Contact titles styling at 375px */

    h2 {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* Contact form row container styling at 375px */

    .content-row {

        margin: 0;

    }

    /* Contact form styling at 375px */

    form {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* About Me profile pic styling at 375px */

    .profile-pic {

        width: 100%;
        margin-bottom: 30px;

    }

    /* Portfolio row container styling at 375px */

    .portfolio-row {

        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px 0 0 0;

    }

    /* Portfolio image container styling at 375px */

    .port-img-col {

        max-width: 97%;

    }

    /* Portfolio image text box styling at 375px */

    .text-box {

        height: 25%;

    }

    /* Portfolio image text styling at 375px */

    .text {

        font-size: 150%;

    }

}

/* Page responsiveness at 320px */

@media screen and (max-width: 320px) {

    /* Body styling at 320px */

    body {

        background-color: rgb(34, 34, 34);

    }

    /* Site title styling at 320px */

    h1 {

        font-size: 180%;
        width: 210px;
        height: 35px;

    }

    /* About Me, Portfolio, Contact titles styling at 320px */

    h2 {

        font-size: 180%;
        margin-left: 5px;
        margin-right: 5px;

    }

    /* Dropdown button displays at 320px */

    .dropleft {

        display: block;
        width: 35px;
    
    }

    /* Nav options hide at 375px */

    nav {

        display: none;

    }

    /* About Me, Portfolio, Contact container styling at 375px */

    .content-container {

        width: 100vw;
        margin: 0 0 0 -15px;
        position: relative;
        border: none;

    }

    /* About Me, Portfolio, Contact title containers styling at 375px */

    .title-row {

        margin: 0;

    }

    /* Contact form row container styling at 375px */

    .content-row {

        margin: 0;

    }

    /* Contact form styling at 375px */

    form {

        margin-left: 5px;
        margin-right: 5px;

    }

    /* About Me profile pic styling at 375px */

    .profile-pic {

        width: 100%;
        margin-bottom: 30px;

    }

    /* Portfolio row container styling at 375px */

    .portfolio-row {

        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px 0 0 0;

    }

    /* Portfolio image container styling at 375px */

    .port-img-col {

        max-width: 97%;

    }

    /* Portfolio image text box styling at 375px */

    .text-box {

        height: 25%;

    }

    /* Portfolio image text styling at 375px */

    .text {

        font-size: 125%;

    }

}